.calculator{
    float: left;
    margin: 300px 0px 0px 400px;
}
.my_size{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation{
    margin-left: 35px;
}
.inp_nav{
    margin-bottom: 15px;
}